<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vv00imgeventhandler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/606e824b-aaf7-4b4e-9057-b459f6a4436d/resourceGroups/varun-rg/providers/Microsoft.Web/sites/vv00imgeventhandler</ResourceId>
    <UserName>$vv00imgeventhandler</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://vv00imgeventhandler.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>